<!<%- include('../partials/header') %>

    <table id="list">
        <thead>
            <tr>
                <th>Airline</th>
                <th>Airport</th>
                <th>Status</th>
                <th>Flight <br>number<br></th>
                <th>Departs</th>
            </tr>
        </thead>
        <tbody>
            <% flights.forEach(function(f) { %>
                <tr>
                    <td>
                        <%= f.airline %>
                    </td>
                    <td>
                        <%= f.airport %>
                    </td>
                    <td>
                        <a href="/flights/<%= f._id %>">
                            <%= f.status %>
                        </a>

                    </td>
                    <td>
                        <%= f.flightNo %>
                    </td>
                    <td>
                        <%= f.departs %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>